node_modules/
yarn-error.log
yarn.lock

/public/*
!/public/uploads

/public/uploads/*
!/public/uploads/images

/public/uploads/images/*
!/public/uploads/images/article-cover.jpg
!/public/uploads/images/default-avatar.jpg
!/public/uploads/images/video-cover.jpg


